.nav-bar {
    height: 100px;
    widht: 100%;
    background-color: rgba(223, 108, 0, 0.856);
  }
  
  .nav-bar span {
    float: left;
    color: #fff;
    font-size: 30px !important;
    margin: 12px 30px;
  }
  
  .nav-bar ul {
    float: right !important;
    margin-top: 38px;
  }
  
  .nav-bar li {
    display: inline;
    margin: 20px 40px;
  }
  
  .nav-bar li:nth-child(3) {
    margin-right: 10px;
  }
  
  .nav-bar a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    padding: 8px 15px;
    transition: all 200ms ease;
  }
  
  .nav-bar a:hover {
    background-color: rgba(255,255,255,.4);
    
  }
  
  .top-rect {
    background-color: #E57373;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    overflow: hidden;
    padding-top: 500px;
  }
  
  .top-rect:after {
      content: "";
      display: block;
      background: white;
      height: 450px;
      width: 8000px;
      position: absolute;
      z-index: 1;
      bottom: -40%;
      left: 50%;
      margin-left: -4000px;
      -webkit-transform: rotate(-8deg);
      transform: rotate(-8deg);
  }
  
  .top-rect h1 {
    position: absolute;
    top: 80px;
    left: 200px;
    width: 100%;
    font-size: 55px;
    font-weight: 500;
  }
  
  .bottom-title {
    width: 50%;
    height: 400px;
    background-color: #000;
    position: relative;
    top: 500px;
    margin: auto;
    margin-bottom: 100px;
  }
  
  .bottom-title h1 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
  }
  
  .fun {
    text-align: center;
    margin-top: 15px;
  }